    <h2>Форма Профиля</h2>
    <div>
        <label>Логин:&nbsp;&nbsp;&nbsp;</label>
        <%= user.login %>
    </div>
    <div>&nbsp;</div>
    <div>
        <label>Пароль:&nbsp;</label>
        <%= user.pwd %>
    </div>
